<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <title>Xkcd Data Visualization</title>
</head>

<body>
  <div id="headerDiv" align="center">
    <h1 align="center">
      <u> Visualizing Xkcd Comic Relationships Using An Interactive Dashboard</u>
    </h1>
    <p align="center">
      This is an application with a backend written in python (Flask)
      and a front end developed using d3.
    </p>
  </div>

  <div id="tooltipDiv" align="center"></div>
  <div id="graphDiv" align="center"></div>

  <!-- <div id="buttonDiv" align="center"></div> -->

  <div id="pictureDiv" align="center"></div>

    <p id="xkcdImageTitle" align="center"> 221: Random Number </p>

    <img id="xkcdImage" class="marginauto" alt="221: Random Number"
      src="https://www.explainxkcd.com/wiki/images/f/fe/random_number.png">

  <div id="jsonList">
    <pre id="jsonListPre"></pre>
  </div>


  <script>

    //////////
    // DATA //
    //////////

    var data = {{ return_chart_data.chart_data | safe }};

    //////////////
    // TOOL TIP //
    //////////////

    var tooltip = d3.select("#tooltipDiv").append("div")
      .attr("class", "tooltip")

    // Three function that change the tooltip when user hover / move / leave a cell
    var mouseover = function(d) {
      tooltip
        .html("comic  |  " + d.title)
      d3.select(this)
        .classed("highlighted", true);
    }

    var mousemove = function(d) {
      //  UNEEDED
      // tooltip
      //   .html("comic  |  " + d.title)
    }

    var mouseleave = function(d) {
      tooltip
        .html("comic  |  ")
      d3.select(this)
        .classed("highlighted", false);
    }

    ///////////////
    // SET IMAGE //
    ///////////////

    var click = function(d) {

      scatter.selectAll(".dot").classed("clicked", false);

      d3.select(this)
        .classed("clicked", true);

      d3.select("#xkcdImage")
        .attr("src", d.imageUrl)
        .attr("alt", d.title);

      document.getElementById("xkcdImageTitle").textContent = d.title;
    }

    //////////////////////////////
    // SVG AND GRAPH DIMENSIONS //
    //////////////////////////////

    // make sure to change on viewbox property as well
    // to preserve aspect ratio of plot
    var svgWidth = 900,
    svgHeight = 850;

    var margin = { top: 20, right: 20, bottom: 30, left: 30 };
    width = svgWidth - margin.left - margin.right,
    height = svgHeight - margin.top - margin.bottom;

    var svg = d3.select("#graphDiv")
      .append("div")
      // Container class to make it responsive.
      .classed("svg-container", true)
      .append("svg")
      // Responsive SVG needs these 2 attributes and no width and height attr.
     .attr("preserveAspectRatio", "xMinYMin meet")
     .attr("viewBox", "0 0 " + svgWidth + " " + svgHeight)
      // Class to make it responsive.
     .classed("svg-content-responsive", true)

    ///////////////////
    // AXES AND CLIP //
    ///////////////////

    var x = d3.scaleLinear()
      .range([0, width])
      .domain(d3.extent(data, function (d) { return d.x; })).nice()
      .nice();

    var y = d3.scaleLinear()
      .domain(d3.extent(data, function (d) { return d.y; })).nice()
      .range([height, 0]);

    var xAxis = d3.axisBottom(x).ticks(12);
    var yAxis = d3.axisLeft(y).ticks(12 * height / width);

    // x axis
    svg.append("g")
      .attr("class", "x axis")
      .attr('id', "axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    svg.append("text")
      .style("text-anchor", "end")
      .attr("x", width)
      .attr("y", height - 8)
      .text("X Label");

    // y axis
    svg.append("g")
      .attr("class", "y axis")
      .attr('id', "axis--y")
      .call(yAxis);

    svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "1em")
      .style("text-anchor", "end")
      .text("Y Label");

    var clip = svg.append("defs").append("svg:clipPath")
      .attr("id", "clip")
      .append("svg:rect")
      .attr("width", width )
      .attr("height", height )
      .attr("x", 0)
      .attr("y", 0);

    ///////////////////////
    // BRUSH AND SCATTER //
    ///////////////////////

    var scatter = svg.append("g")
      .attr("id", "scatterplot")
      .attr("clip-path", "url(#clip)");

    var brush = d3.brush()
      .extent([[0, 0], [width, height]])
      .on("end", brushended);

    // append brush before points so tooltips work
    scatter.append("g")
      .attr("class", "brush")
      .call(brush);

    scatter.selectAll(".dot")
      .data(data)
      .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 4)
      .attr("cx", function (d) { return x(d.x); })
      .attr("cy", function (d) { return y(d.y); })
      .on("mouseover", mouseover)
      .on("mousemove", mousemove)
      .on("mouseleave", mouseleave)
      .on("click", click)

    var idleTimeout,
    idleDelay = 350;

    function brushended() {

        var s = d3.event.selection;

        if (!s) {

            // reset zoom
            if (!idleTimeout) return idleTimeout = setTimeout(idled, idleDelay);
            x.domain(d3.extent(data, function (d) { return d.x; })).nice();
            y.domain(d3.extent(data, function (d) { return d.y; })).nice();
        } else {

            // selection, do before zoom changes range of chart
            scatter.selectAll(".dot").classed("selected", function(d){
              return isBrushed(s, x(d.x), y(d.y))
            });
            var my_selection = scatter.selectAll(".dot").filter(function(d){
              return isBrushed(s, x(d.x), y(d.y))
            });
            document.getElementById("jsonListPre").textContent = JSON.stringify(my_selection, undefined, 2);

            // zoom
            x.domain([ x.invert(s[0][0]), x.invert(s[1][0]) ]);
            y.domain([ y.invert(s[1][1]), y.invert(s[0][1]) ]);
            scatter.select(".brush").call(brush.move, null);
        }
        zoom();
    }

    function isBrushed(brush_coords, cx, cy) {
       var x0 = brush_coords[0][0],
           x1 = brush_coords[1][0],
           y0 = brush_coords[0][1],
           y1 = brush_coords[1][1];
      // This return TRUE or FALSE depending on if the points is in the selected area
      return x0 <= cx && cx <= x1 && y0 <= cy && cy <= y1;
    }

    function idled() {
        idleTimeout = null;
    }

    function zoom() {
        var tr = scatter.transition().duration(750);
        svg.select("#axis--x").transition(tr).call(xAxis);
        svg.select("#axis--y").transition(tr).call(yAxis);

        scatter.selectAll("circle").transition(tr)
        .attr("cx", function (d) { return x(d.x); })
        .attr("cy", function (d) { return y(d.y); });
    }

  </script>

</body>

</html>
