:root {
  --basic-color: #5eb1bf;
  --hover-color: #042a2b;
  --picked-color: #d84727;
  --selected-color: #ef7b45;
  --body-background-color: #cdedf6;
  --body-text-color: #042a2b;
  --box-background-color: white;
  --box-border-color: #042a2b;
  --tooltip-background-color: #042a2b;
  --tooltip-text-color: white;
}


.dot_basic {
  opacity: 0.5;
  fill: var(--basic-color);
}

.dot_selected {
  fill: var(--selected-color);
}

.dot_hovered {
  opacity: 1;
  fill: var(--hover-color);
}

.dot_picked {
  opacity: 1;
  fill: var(--picked-color);
}

.bar_picked {
  fill: var(--picked-color);
}

.bar_selected {
  fill: var(--selected-color);
}

.bar_all {
  opacity: 0.5;
  fill: var(--basic-color);
}



body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 16px;
  font-variant: small-caps;
  font-family: Patrick Hand;
  font-weight: 500;
}

.box {
  background: var(--box-background-color);
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--box-border-color);
  border-radius: 12px;
  padding: 10px;
  margin: 5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: var(--tooltip-background-color);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: var(--tooltip-text-color);
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.marginauto {
  margin: 10px auto 20px;
  display: block;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}
