<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <title>Xkcd Data Visualization</title>
</head>

<body>
  <div id="headerDiv" class="box">
    <h1>
      Xkcd Comic Relationships
    </h1>
    <p>
      Similar comics are clustered together!
    </p>

    <div align="left">
      <h3>Instructions</h3>
      <ul>
        <li><strong>click and drag on graph:</strong> (color points pink) make a selection of points, list selected comic serial numbers below; zoom into section of map
        <li><strong>hover on point:</strong> (color points yellow) populate tooltip with comic title
        <li><strong>click on point / input on text box:</strong> (color points red) display title and comic in bottom panel
        <li><strong>double click on graph:</strong> zoom out
      </ul>
    </div>
  </div>

  <div id="scatterplotDiv" class="box">
    <h3>Scatterplot of TSNE Relations</h3>
    <div id="tooltip" class="tooltip">hover |<br><br> </div>
    <div text-align="left">
      <label id="inputPickLabel" for="inputPick">pick: 1-{{ max_serial_num }}</label>
      <input type="number" id="inputPick" name="inputPick" min="1" max={{max_serial_num}} step="1" value="2">
    </div>
  </div>

  <div id="barchartDiv" class="box">
    <h3>Bar Chart of TFIDF for Top 5 Words in Selected Comics</h3>
  </div>

  <div id="pictureDiv" class="box">
    <h3>Picked Comic</h3>
    <p id="xkcdImageTitle"> 221: Random Number </p>
    <img id="xkcdImage" class="marginauto" alt="221: Random Number"
      src="https://www.explainxkcd.com/wiki/images/f/fe/random_number.png"
      style='height: 100%; width: 100%; object-fit: contain'>
    <p id="xkcdImageAltText"> Alt Text </p>
  </div>

  <div id="explanationDiv" align="left" class="box">
    <h6>
      Background Information on Xkcd Comics
    </h6>
    <p>
      xkcd comics are "A webcomic of romance, sarcasm, math, and language"
      (xkcd slogan). These comics are licensed under a Creative Commons
      Attribution-NonCommercial 2.5 License, and their transcripts are available
      on www.explainxkcd.com (xkcd comic's wiki). This web application uses
      the first {{max_serial_num}} comics as data source.
    </p>
    <h6>
      Process
    </h6>
    <p>
      <ol>
        <li>Scrape Comics Transcript, Title, And Alt-Text from explainxkcd.com</li>
        <li>Clean, lemminize, and Stem Comics</li>
        <li>Save Comic As Text Vectors of TF-IDF Scores</li>
        <li>Reduce Feature Space and Perform Latent Semantic Analysis with Truncated SVD</li>
        <li>Create 2D Embedding of Document Relations With t-SNE</li>
        <li>Build Interactive Web Application With D3.js and Flask</li>
      </ol>
    </p>
  </div>

  <div id="footerDiv" align="left" class="box">
    <p>
      Gati Aher, April 2020 |
      <a href="https://github.com/GatiAher/Xkcd_Data_Visualization">GitHub Repo</a>
    </p>
  </div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="static/chart.js"></script>
  <script src="static/scatterplot.js"></script>
  <script src="static/barchart.js"></script>
  <script src="static/general.js"></script>
  <script>
    var comic_data = {{ return_comic_data.comic_data | safe }};

    var scatterplot = new Scatterplot("#scatterplotDiv", "_scatterplot");
    scatterplot.draw(comic_data);

    var barchart = new Barchart("#barchartDiv", "_barchart");
    initialize();

  </script>

</body>

</html>
