<!DOCTYPE html>
<html lang="en">

<head>
  <title>Xkcd Data Visualization</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- favicon (by default flask only serves from static) -->
  <link rel="shortcut icon" href="static/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
  <link rel="manifest" href="static/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">

  <!-- Patrick Hand font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Patrick+Hand" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- custom stylesheet -->
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>

  <header class="box">
      <h1>Xkcd Data Visualization</h1>
      <h4>Similar comics are clustered together!</h4>
  </header>

  <main>

    <div class="container">
      <div class="row row-no-gutters">

        <div class="col-sm-6">
          <section class="box" id="featureDistributionMenu" style="padding-left: 20px;">
            <h3>Feature Distribution Menu</h3>
            <strong>Select a feature to see the distribution of all the comics with that feature</strong>.
            <div style="display: flex;">
              <div style="flex: auto;">
                <h3>{{num_features}} Features</h3>
                <select id="select-featureDistribution" size="20" multiple></select>
              </div>
              <div style="flex: auto;">
                <div style="padding-left: 20px;">
                  <h3>Make Multiple Selections</h3>
                  <p style="text-align: left;">
                    To select more than one, you may control-click (Windows) or command-click (Mac).
                    <br><br>
                    To select consecutive, you may shift-click.
                  </p>
                  <h3>Selected Features:</h3>
                  <div style="text-align: left;" id="selected-featureDistribution" class="box"></div>
                  <h3 id="overlapnum-featureDistribution">Overlapped: 0</h3>
                  <br>
                  <button id="button-clear-featureDistribution" type="button">Clear Selection</button>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="box" id="featureDistribution">
            <h3>Feature Distribution</h3>
            <div id="chart-featureDistribution"></div>
          </section>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row row-no-gutters">

        <div class="col-sm-6">
          <section class="box" id="barchart">
            <h3>TFIDF of Top Words in Selected Comics</h3>
            <div>
              <input type="checkbox" class="checkbox-barchart" id="checkbox-barchart-picked" value="picked" checked>
              <label for="checkbox-barchart-picked">Picked (1)</label>
              <input type="checkbox" class="checkbox-barchart" id="checkbox-barchart-selected" value="selected" checked>
              <label for="checkbox-barchart-selected" id="checkbox-barchart-selected-label">Selected ()</label>
              <input type="checkbox" class="checkbox-barchart" id="checkbox-barchart-all" value="all" checked>
              <label for="checkbox-barchart-all">All ({{num_comics}})</label>
            </div>
            <div id="chart-barchart"></div>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="box" id="scatterplot">
            <h3>TFIDF to LSA to TSNE Comic Relations</h3>
            <div class="input-group">
              <span class="input-group-addon">Pick Comic 1-{{num_comics}}</span>
              <input class="form-control" type="number" id="form-scatterplot-picked" min="1" max={{num_comics}} step="1">
            </div>
            <div id="chart-scatterplot"></div>
          </section>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row row-no-gutters">

        <div class="col-sm-6">
          <section id="pictureDiv" class="box">
            <h3>Picked Comic</h3>
            <p id="xkcdImageTitle"> 221: Random Number </p>
            <img id="xkcdImage" alt="221: Random Number"
              src="https://www.explainxkcd.com/wiki/images/f/fe/random_number.png"
              style='height: 100%; width: 100%; object-fit: contain'>
            <p id="xkcdImageAltText"> Alt Text </p>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="box">
            <h3>Scatterplot Interactions</h3>
            <ul style="text-align:left;">
              <li>
                <div class="tooltip-key">hover on point</div>
                <p>populate tooltip with comic title</p>
              </li>
              <li>
                <h4 style="color:var(--picked-color);">click on point / input serial number</h4>
                <p>display title and comic in bottom panel</p>
              </li>
              <li>
                <h4 style="color:var(--selected-color);">brush points</h4>
                <p>click and drag on scatterplot to make a selection of points and zoom in</p>
              </li>
              <li>
                <h4>double click on graph:</h4>
                <p>zoom out</p>
              </li>
            </ul>
          </section>
        </div>

      </div>
    </div>

    <section id="explanationDiv" class="box" style="text-align:left;">
      <h3>Process</h3>
      <ol style="text-align:left;">
        <li>Scrape Comics Transcript, Title, And Alt-Text from explainxkcd.com</li>
        <li>Clean Comics (remove stop-words, lemminize and stem words)</li>
        <li>Save Comic As Text Vectors of TF-IDF (term-frequency x inverse document frequency) Scores</li>
        <li>Reduce Feature Space and Perform Latent Semantic Analysis with Truncated SVD</li>
        <li>Create 2D Embedding of Document Relations With t-SNE (scatterplot x and y coordinates)</li>
        <li>Build Interactive, Reactive Web Application With Bootstrap, D3.js, and Flask</li>
      </ol>
      <h3>Background Information on Xkcd Comics</h3>
      <p>
        xkcd comics are "A webcomic of romance, sarcasm, math, and language"
        (xkcd slogan). These comics are licensed under a Creative Commons
        Attribution-NonCommercial 2.5 License, and their transcripts are available
        on www.explainxkcd.com (xkcd comic's wiki). This web application uses
        the first {{num_comics}} comics as data source.
      </p>
    </section>

  </main>

  <footer class="box">
    <p>
      Gati Aher, April 2020 |
      <a href="https://github.com/GatiAher/Xkcd_Data_Visualization">
        <img src="static/glyphicons/mark-github.svg" class="github-icon">
      </a>
    </p>
  </footer>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="static/chart.js"></script>
  <script src="static/scatterplot.js"></script>
  <script src="static/barchart.js"></script>
  <script src="static/general.js"></script>
  <script>

    var comic_data = {{ return_comic_data.comic_data | safe }};
    var feature_names = {{ return_feature_names.feature_names | safe }};

    // add features to feature distribution menu
    for (const idx in feature_names) {
      $('#select-featureDistribution').append($('<option>', {value:idx, text:feature_names[idx]}));
    }

    var featureScatterplot = new Scatterplot("featureDistribution",
                            selectOnBrushFlag=false, pickOnClickFlag=true,
                            pickOnFormFlag=false, selectOnSelectMenuFlag=true);
    featureScatterplot.updateAndDraw(comic_data);


    var scatterplot = new Scatterplot("scatterplot");
    scatterplot.updateAndDraw(comic_data);

    var barchart = new Barchart("barchart");

    // initial state of feature selection menu
    $("#select-featureDistribution").val(["3301", "3849"]);
    $('#selected-featureDistribution').text("number (200), random (71)");
    requestFeatureDistribution(["3301", "3849"]);

    // initial coloring of selected dots
    scatterplot.scatter.selectAll("circle")
      .filter(function(d) { return dataStore.selected_sn.includes(d.sn); })
      .classed("dot-selected", true);

    // initial coloring of picked dot
    scatterplot.scatter.selectAll("circle")
      .filter(function(d) { return d.sn == dataStore.picked_sn })
      .classed("dot-picked", true);

    // initial state of pick elements
    generalPick("221: Random Number",
      "RFC 1149.5 specifies 4 as the standard IEEE-vetted random number.",
      "https://www.explainxkcd.com/wiki/images/f/fe/random_number.png", 221);

    // initial state of select elements
    generalSelect(dataStore.selected_sn);

    requestBarchartData(); // BUG: call again to fix incomplete draw barchart

    // add clear feature to clear selection button
    $("#button-clear-featureDistribution").click(function(){
      $("#select-featureDistribution option:selected").prop("selected", false);
      $('#selected-featureDistribution').text("");
      requestFeatureDistribution([]);
    });

  </script>

</body>

</html>
