<!DOCTYPE html>
<html lang="en">

<head>
  <title>Xkcd Data Visualization</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Patrick Hand font -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Patrick+Hand" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- custom stylesheet -->
  <link rel="stylesheet" href="static/styles.css">

</head>

<body>

  <header class="box">
      <h1>Xkcd Comic Relationships</h1>
      <p>Similar comics are clustered together!</p>
  </header>

  <main>

    <div class="container">
      <div class="row row-no-gutters">

        <div class="col-sm-6">
          <section class="box">
            <h3>TFIDF of Top Words in Selected Comics</h3>
            <div>
              <input type="checkbox" class="checkboxBarchart" name="picked_CheckBox" id="picked_CheckBox" value="picked" checked>
              <label for="picked_CheckBox">Picked</label>
              <input type="checkbox" class="checkboxBarchart" name="selected_CheckBox" id="selected_CheckBox" value="selected" checked>
              <label for="selected_CheckBox">Selected</label>
              <input type="checkbox" class="checkboxBarchart" name="all_CheckBox" id="all_CheckBox" value="all" checked>
              <label for="all_CheckBox">All</label>
            </div>
            <div id="barchartDiv"></div>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="box">
            <h3>TFIDF to LSA to TSNE Comic Relations</h3>
              <div class="input-group">
                <span class="input-group-addon">Pick Comic 1-{{max_serial_num}}</span>
                <input class="form-control" type="number" id="inputPick" min="1" max={{max_serial_num}} step="1">
              </div>
            <div id="scatterplotDiv"></div>
          </section>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row row-no-gutters">

        <div class="col-sm-6">
          <section id="pictureDiv" class="box">
            <h3>Picked Comic</h3>
            <p id="xkcdImageTitle"> 221: Random Number </p>
            <img id="xkcdImage" alt="221: Random Number"
              src="https://www.explainxkcd.com/wiki/images/f/fe/random_number.png"
              style='height: 100%; width: 100%; object-fit: contain'>
            <p id="xkcdImageAltText"> Alt Text </p>
          </section>
        </div>

        <div class="col-sm-6">
          <section class="box" text-align="center">
            <h3>Instructions</h3>
            <ul>
              <li><strong style="color:var(--selected-color);">select points</strong> click and drag on scatterplot to make a selection of points and zoom in
              <li><strong style="color:var(--hover-color);">hover on point</strong> populate tooltip with comic title
              <li><strong style="color:var(--picked-color);">click on point / input on text box:</strong> display title and comic in bottom panel
              <li><strong>double click on graph:</strong> zoom out
            </ul>
          </section>
        </div>

      </div>
    </div>

    <section id="explanationDiv" class="box">
      <h3>Background Information on Xkcd Comics</h3>
      <p>
        xkcd comics are "A webcomic of romance, sarcasm, math, and language"
        (xkcd slogan). These comics are licensed under a Creative Commons
        Attribution-NonCommercial 2.5 License, and their transcripts are available
        on www.explainxkcd.com (xkcd comic's wiki). This web application uses
        the first {{max_serial_num}} comics as data source.
      </p>
      <h3>Process</h3>
      <p>
        <ol>
          <li>Scrape Comics Transcript, Title, And Alt-Text from explainxkcd.com</li>
          <li>Clean, lemminize, and Stem Comics</li>
          <li>Save Comic As Text Vectors of TF-IDF Scores</li>
          <li>Reduce Feature Space and Perform Latent Semantic Analysis with Truncated SVD</li>
          <li>Create 2D Embedding of Document Relations With t-SNE</li>
          <li>Build Interactive, Reactive Web Application With Bootstrap, D3.js, and Flask</li>
        </ol>
      </p>
    </section>

  </main>

  <footer class="box">
    <p>
      Gati Aher, April 2020 |
      <a href="https://github.com/GatiAher/Xkcd_Data_Visualization">GitHub Repo</a>
    </p>
  </footer>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="static/chart.js"></script>
  <script src="static/scatterplot.js"></script>
  <script src="static/barchart.js"></script>
  <script src="static/general.js"></script>
  <script>
    var comic_data = {{ return_comic_data.comic_data | safe }};
    var scatterplot = new Scatterplot("#scatterplotDiv", "_scatterplot");
    scatterplot.update(comic_data);
    initialize();
  </script>

</body>

</html>
